<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440563267524-rhkrmp955ah64ibf9hqmd4f3qer65f8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440563267524-rhkrmp955ah64ibf9hqmd4f3qer65f8a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440563267524-ifjh151d5b7h7u8lvsbcfk4scom2jvcd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA7x7BP_bzNtsfxHkHC6IiQcndbP8h5wk</string>
	<key>GCM_SENDER_ID</key>
	<string>440563267524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plutocrats.onlineshop</string>
	<key>PROJECT_ID</key>
	<string>gugulethu-411fa</string>
	<key>STORAGE_BUCKET</key>
	<string>gugulethu-411fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440563267524:ios:292e6d3142e130c4dd5691</string>
	<key>DATABASE_URL</key>
	<string>https://gugulethu-411fa.firebaseio.com</string>
</dict>
</plist>